* {
  font-family: sans-serif, ti;
  font-size: 16px;


}
body {
  background-image: url("/users/codygreen/documents/photos/menbug.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: skyblue;


}

h1  {color: mediumseagreen;
}

div {
  padding: 10px

}

p {
  color: black;
  line-height: 2;

}
