* {
  font-family: sans-serif;




}
body {

background-image: url("/users/codygreen/codefellows/201/about_me/pictures/menbug.jpg");

}
/*changes the size and position of the name but it still cuts off the top of the head but why?*/

/*.name{
  width: 200px;
  position: absolute;
  top: 8px;
  left: 16px;
  background: none;*/


}
.work {
  background: none;
}
.bio {
  float: left;
  width: 500px;
  position: absolute;
  top: 54px;
  left: 16px;
  background: none;
}
/*how do i get the color difference behind the words on the page to be the same color?*/

.education {
  float: right;
  width: 500px;
  position: absolute;
  top: 360px;
  left: 16px;
  padding: 8px;
  background: none;
  width: 415px;
}

.jobs {
  position:absolute;
  bottom: 162px;
  left: 16px;
  background: none;


}

.loves {

  position: absolute;
  top: 54px;
  right: 16px;
  font-size: 16px;
  background: none;
  width: 550px;
  line-spacing: 5px;
}

h1  {
  color: Black;
  font-size: 35px;
}

p {
  color: black;
  line-height: 2;
  font-size: 16px;
  background: none;

}
h5 {
  font-size: 16px;
  background: none;
}

h6 {
  font-size: 16px;
  position: absolute;
  bottom: 290px;
  right: 200px;
  width: 200px;
  background: none;
}

.arnold {
  font-size: 16px;
  position: absolute;
  bottom: 85px;
  right: 199px;
  width: 200px;
  background: none;
  display: inline;
  clear: both;
}
/*from what i read the twitter button would display if the site wer live?*/

.twitter {
  position: absolute;
  bottom:32px;
  right: 16px;

}
/*.wrapper {
/*background-image: url("/users/codygreen/codefellows/201/about_me/pictures/menbug.jpg");
background-size: contain*/
/*padding: 30px;
}*/
