* {
  font-family: sans-serif;
  background-image: url("/users/codygreen/codefellows/201/about_me/pictures/menbug.jpg");



}
body {
  /*background-image: url("/users/codygreen/codefellows/201/about_me/pictures/menbug.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: LightCyan;
  background-attachment: scroll;
  background-size: contain;
  overflow: hidden;*/
}

.name{
  width: 200px;
  position: absolute;
  top: 8px;
  left: 16px;
  /*background-color: #D2D2D2;*/
  background: rgba(0, 0, 0, 0);


}
.bio {
  float: left;
  width: 500px;
  position: absolute;
  top: 54px;
  left: 16px;
  /*background-color: #D2D2D2;*/
  background: rgba(0, 0, 0, 0);
  /*border: dotted;*/
}

.education {
  float: right;
  width: 500px;
  position: absolute;
  top: 360px;
  left: 16px;
  /*background-color: #CCD0D1;*/
  padding: 8px;
  background: rgba(0, 0, 0, 0);
  width: 415px;
}

.jobs {
  position:absolute;
  bottom: 162px;
  left: 16px;
  /*background-color: #C9CDCC;*/
  background: rgba(0, 0, 0, 0);


}

.loves {

  position: absolute;
  top: 54px;
  right: 16px;
  font-size: 16px;
  /*background-color: #D1D3D2;*/
  background: rgba(0, 0, 0, 0);
  width: 550px;
  line-spacing: 5px;
}

h1  {
  color: Black;
  font-size: 35px;
}

p {
  color: black;
  line-height: 2;
  font-size: 16px;

}
h5 {
  font-size: 16px;
}

.twitter {
  position: absolute;
  bottom:32px;
  right: 16px;

}
/*.wrapper {
/*background-image: url("/users/codygreen/codefellows/201/about_me/pictures/menbug.jpg");
background-size: contain*/
/*padding: 30px;
}*/
